<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

	  <!--add key="Saved Search" value="Cougs 24/17" /-->
	  <add key="Saved Search" value="Cougs All Containers" />
	  <add key="Site Prefix" value="Cougs" />

	  <add key="TrimExtractMetadata" value="false" />
	  <add key="TrimExtractDocuments" value="false" />
	  <add key="TrimExtractAuditOnly" value="false" />

	  <add key="TRIM DBId" value="45" />

	  <add key="WGS" value="local" />

	  <add key="ContainerExclusionList" value="" />

	  <add key="ExtractBaseDirectory" value="C:\Temp\Extracts" />
	  <add key="RecordsOutfile" value="C:\Temp\Extracts\{0}-RecordsOutfile-0.csv" />
	  <add key="ContainerOutfile" value="C:\Temp\Extracts\{0}-ContainerOutfile-0.csv" />
	  <add key="PerfAndLogOutfile" value="C:\Temp\Extracts\{0}-PerfAndLogOutfile.csv" />
	  <add key="CheckListFile" value="C:\Temp\Extracts\{0}-CheckListFile.txt" />
	  <add key="AuditOutfile" value="C:\Temp\Extracts\{0}\{1}-{2}-AuditOutfile.csv" />
	  
	  <add key="TRIM Install Dir" value="C:\Program Files\Micro Focus\Content Manager" />

	  <!-- add key="LoginMethod" value="ExplicitWindows"/-->
	  <add key="LoginMethod" value="IntegratedWindows"/>

	  <add key="Username" value="admin" />
	  <add key="Password" value="admin" />

	  <!--add key="Debug" value="true" /-->
	  <!--add key="Debug" value="debug" /-->
	  <!--add key="Debug" value="Debug2" /-->

	  <add key="Debug" value="debug" />

	  <add key="IA_Options_DoTrimWalk" value="false" />
	  <add key="IA_ExtractACLs" value="false" />
	  <add key="IA_ExtractRecordTypes" value="false" />
	  <add key="IA_ExtractClassifications" value="false" />
	  <add key="IA_ExtractSecurity" value="false" />
	  <add key="IA_ExtractDocStores" value="false" />
	  <add key="IA_DoRawCount" value="false" />
	  <add key="IA_DoDumpAuditHistory" value="false" />
	  <add key="IA_DoRevisionHistogram" value="true" />
	  <add key="IA_OutputFile" value="C:\Temp\Extracts\IAHistogram_Dump.csv" />

	  <add key="TrimExtractUseDocStoreMap" value="false" />
	  <add key="NumberOfDocStores" value="1" />
	  <add key="DocStoreSrc_0" value="\\srcfile path\" />
	  <add key="DocStoreDst_0" value="E:\dst filepath\" />

	<!-- Trim field mapping data mapping src to target names -->

	  <!-- add key="TRIMFolderFields" value="ContainerHierarchy,Title,Number,DateCreated,RetentionSchedule,Assignee,OwnerLocation,HomeLocation,DateRegistered,Creator,LastUpdatedOn,Uri,DateClosed,History" /-->
	  <!-- add key="RPBaseFolderFields" value="DestinationPath,Title,Legacy Folder Number,Legacy Date Created,Legacy Retention Schedule,Legacy Assignee,Legacy Owner,Legacy Home,Legacy Date Registered,Legacy Creator,Legacy Last Updated On,Legacy URI,Legacy Date Closed,Legacy Audit Events" /-->
    
	  <!-- add key="TRIMRecordFields" value="SourcePath,DestinationPath,Version,Title,Number,DateCreated,Assignee,OwnerLocation,HomeLocation,DateRegistered,Author,Container,Addressee,ManualDisposalDate,Notes,LastUpdatedOn,Uri,DateClosed,History" /-->
	  <!-- add key="RPBaseRecordFields" value="SourcePath,DestinationPath,Version,Title,Legacy Record Number,Legacy Date Created,Legacy Assignee,Legacy Owner,Legacy Home,Legacy Date Registered,Legacy Author,Legacy Container Record Number,Legacy Addressee,Legacy Manual Disposal Date,Legacy Notes,Legacy Last Updated On,Legacy URI,Legacy Date Closed,Legacy Audit Events" /-->

	  <add key="TRIMFolderFields" value="ContainerHierarchy,Title,Number,DateCreated,RetentionSchedule,Assignee,OwnerLocation,HomeLocation,DateRegistered,Creator,LastUpdatedOn,Uri,DateClosed,History" />
	  <add key="RPBaseFolderFields" value="DestinationPath,Title,Legacy Folder Number,Legacy Date Created,Legacy Retention Schedule,Legacy Assignee,Legacy Owner,Legacy Home,Legacy Date Registered,Legacy Creator,Legacy Last Updated On,Legacy URI,Legacy Date Closed,Legacy Audit Events" />
	  <add key="TRIMRecordFields" value="SourcePath,DestinationPath,Version,Title,Number,DateCreated,Creator,Assignee,OwnerLocation,HomeLocation,DateRegistered,Author,Container,Addressee,ManualDisposalDate,Notes,LastUpdatedOn,Uri,DateClosed,History,Cost 1,Date 1" />
	  <add key="RPBaseRecordFields" value="SourcePath,DestinationPath,Version,Title,Legacy Record Number,Legacy Date Created,Legacy Creator,Legacy Assignee,Legacy Owner,Legacy Home,Legacy Date Registered,Legacy Author,Legacy Container Record Number,Legacy Addressee,Legacy Manual Disposal Date,Legacy Notes,Legacy Last Updated On,Legacy URI,Legacy Date Closed,Legacy Audit Events,Legacy Cost 1,Legacy Date 1" />

	  <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>