<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

	  <add key="TrimExtractAuditOnly" value="true" />

	  <add key="TRIM DBId" value="45" />

	  <add key="WGS" value="local" />

	  <add key="ExtractBaseDirectory" value="C:\Temp\Extracts" />
	  <add key="PerfAndLogOutfile" value="C:\Temp\Extracts\PerfAndLogOutfile.txt" />
	  <add key="AuditOutfile" value="C:\Temp\Extracts\AuditOutfile.csv" />
	  <add key="AuditInputfile" value="C:\Temp\Extracts\AuditUris.txt" />
	  
	  <add key="TRIM Install Dir" value="C:\Program Files\Micro Focus\Content Manager" />
    
	  <add key="Username" value="TrimMigrationAdmin" />
	  <add key="Password" value="TrimMigrationAdmin@123" />

	  <!--add key="Debug" value="true" /-->
	  <!--add key="Debug" value="debug" /-->
	
	  <add key="Debug" value="debug" />

	  <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>